<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PRINCIPALLOGIN</servlet-name>
        <servlet-class>FRONT.PRINCIPALLOGIN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NOTICE</servlet-name>
        <servlet-class>FRONT.NOTICE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NOTICESUBMISSION</servlet-name>
        <servlet-class>FRONT.NOTICESUBMISSION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NOTICEREMOVAL</servlet-name>
        <servlet-class>FRONT.NOTICEREMOVAL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADMISSION</servlet-name>
        <servlet-class>FRONT.ADMISSION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADMISSIONFORMSUBMISSION</servlet-name>
        <servlet-class>FRONT.ADMISSIONFORMSUBMISSION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NEWTEACHERAPPLICATION</servlet-name>
        <servlet-class>FRONT.NEWTEACHERAPPLICATION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NEWTEACHERAPPLICATIONSUBMISSION</servlet-name>
        <servlet-class>FRONT.NEWTEACHERAPPLICATIONSUBMISSION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ACADEMICS</servlet-name>
        <servlet-class>FRONT.ACADEMICS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ACADEMICS2</servlet-name>
        <servlet-class>FRONT.ACADEMICS2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ACADEMICS3</servlet-name>
        <servlet-class>FRONT.ACADEMICS3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CLASSDATASUBMISSION</servlet-name>
        <servlet-class>FRONT.CLASSDATASUBMISSION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SUBJECTS</servlet-name>
        <servlet-class>FRONT.SUBJECTS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TEACHERS</servlet-name>
        <servlet-class>FRONT.TEACHERS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>STUDENTS</servlet-name>
        <servlet-class>FRONT.STUDENTS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CLASSSTUDENTS</servlet-name>
        <servlet-class>FRONT.CLASSSTUDENTS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>STUDENTINFO</servlet-name>
        <servlet-class>FRONT.STUDENTINFO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NEWSUBJECT</servlet-name>
        <servlet-class>FRONT.NEWSUBJECT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SEARCHSTUDENTS</servlet-name>
        <servlet-class>FRONT.SEARCHSTUDENTS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TEACHERSINFO</servlet-name>
        <servlet-class>FRONT.TEACHERSINFO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>STUDENT</servlet-name>
        <servlet-class>FRONT.STUDENT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>STUDENTLOGIN</servlet-name>
        <servlet-class>FRONT.STUDENTLOGIN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NEWSTUDENTREGISTRATION1</servlet-name>
        <servlet-class>FRONT.NEWSTUDENTREGISTRATION1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NEWSTUDENTREGISTRATION2</servlet-name>
        <servlet-class>FRONT.NEWSTUDENTREGISTRATION2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NEWTEACHERREGISTRATION1</servlet-name>
        <servlet-class>FRONT.NEWTEACHERREGISTRATION1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NEWTEACHERREGISTRATION2</servlet-name>
        <servlet-class>FRONT.NEWTEACHERREGISTRATION2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TEACHERLOGIN</servlet-name>
        <servlet-class>FRONT.TEACHERLOGIN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CREATEATTENDANCE</servlet-name>
        <servlet-class>FRONT.CREATEATTENDANCE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ATTENDANCESUBMISSION</servlet-name>
        <servlet-class>FRONT.ATTENDANCESUBMISSION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ATTENDANCE</servlet-name>
        <servlet-class>FRONT.SHOWATTENDANCE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FEE</servlet-name>
        <servlet-class>FRONT.FEE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CREATEMONTHLYFEE</servlet-name>
        <servlet-class>FRONT.CREATEMONTHLYFEE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CREATEMONTHLYFEE2</servlet-name>
        <servlet-class>FRONT.CREATEMONTHLYFEE2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FEEPAYMENT</servlet-name>
        <servlet-class>FRONT.FEEPAYMENT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PAYMENTOPTION</servlet-name>
        <servlet-class>FRONT.PAYMENTOPTION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CREATEPAYMENTMODE</servlet-name>
        <servlet-class>FRONT.CREATEPAYMENTMODE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FEEPAYMENT2</servlet-name>
        <servlet-class>FRONT.FEEPAYMENT2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FEESUBMISSION</servlet-name>
        <servlet-class>FRONT.FEESUBMISSION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PENDINGTRANSACTIONS</servlet-name>
        <servlet-class>FRONT.PENDINGTRANSACTIONS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SUCCESSTRANSACTIONS</servlet-name>
        <servlet-class>FRONT.SUCCESSTRANSACTIONS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SYLLABUSSUBMISSION</servlet-name>
        <servlet-class>FRONT.SYLLABUSSUBMISSION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SHOWSYLLABUS</servlet-name>
        <servlet-class>FRONT.SHOWSYLLABUS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SHOWSYLLABUSTEACHER</servlet-name>
        <servlet-class>FRONT.SHOWSYLLABUSTEACHER</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SHOWSYLLABUSSTUDENT</servlet-name>
        <servlet-class>FRONT.SHOWSYLLABUSSTUDENT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SYLLABUSUPDATION</servlet-name>
        <servlet-class>FRONT.SYLLABUSUPDATION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LOGIN</servlet-name>
        <servlet-class>FRONT.LOGIN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LOGOUT</servlet-name>
        <servlet-class>FRONT.LOGOUT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCHOOLCONFIGURATION</servlet-name>
        <servlet-class>FRONT.SCHOOLCONFIGURATION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PENDINGTRANSACTIONS2</servlet-name>
        <servlet-class>FRONT.PENDINGTRANSACTIONS2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CLASSTEACHERS</servlet-name>
        <servlet-class>FRONT.CLASSTEACHERS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SHOWATTENDANCE</servlet-name>
        <servlet-class>FRONT.SHOWATTENDANCE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SYLLABUS</servlet-name>
        <servlet-class>FRONT.SYLLABUS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ENTEREXAMINATIONPERFORMANCE</servlet-name>
        <servlet-class>FRONT.ENTEREXAMINATIONPERFORMANCE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SHOWNOTICE</servlet-name>
        <servlet-class>FRONT.SHOWNOTICE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SHOWFEE</servlet-name>
        <servlet-class>FRONT.SHOWFEE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GURUKULAMPAYMENTSUBMISSION</servlet-name>
        <servlet-class>FRONT.GURUKULAMPAYMENTSUBMISSION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PENDINGTRANSACTIONS3</servlet-name>
        <servlet-class>FRONT.PENDINGTRANSACTIONS3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FEEDEPOSIT</servlet-name>
        <servlet-class>FRONT.FEEDEPOSIT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SYLLABUS2</servlet-name>
        <servlet-class>FRONT.SYLLABUS2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UPDATESYLLABUS</servlet-name>
        <servlet-class>FRONT.UPDATESYLLABUS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PRINCIPALLOGIN</servlet-name>
        <url-pattern>/PRINCIPALLOGIN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NOTICE</servlet-name>
        <url-pattern>/NOTICE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NOTICESUBMISSION</servlet-name>
        <url-pattern>/NOTICESUBMISSION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NOTICEREMOVAL</servlet-name>
        <url-pattern>/NOTICEREMOVAL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADMISSION</servlet-name>
        <url-pattern>/ADMISSION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADMISSIONFORMSUBMISSION</servlet-name>
        <url-pattern>/ADMISSIONFORMSUBMISSION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NEWTEACHERAPPLICATION</servlet-name>
        <url-pattern>/NEWTEACHERAPPLICATION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NEWTEACHERAPPLICATIONSUBMISSION</servlet-name>
        <url-pattern>/NEWTEACHERAPPLICATIONSUBMISSION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ACADEMICS</servlet-name>
        <url-pattern>/ACADEMICS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ACADEMICS2</servlet-name>
        <url-pattern>/ACADEMICS2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ACADEMICS3</servlet-name>
        <url-pattern>/ACADEMICS3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CLASSDATASUBMISSION</servlet-name>
        <url-pattern>/CLASSDATASUBMISSION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SUBJECTS</servlet-name>
        <url-pattern>/SUBJECTS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TEACHERS</servlet-name>
        <url-pattern>/TEACHERS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>STUDENTS</servlet-name>
        <url-pattern>/STUDENTS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>STUDENTLOGIN</servlet-name>
        <url-pattern>/STUDENTLOGIN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CLASSSTUDENTS</servlet-name>
        <url-pattern>/CLASSSTUDENTS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>STUDENTINFO</servlet-name>
        <url-pattern>/STUDENTINFO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NEWSUBJECT</servlet-name>
        <url-pattern>/NEWSUBJECT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SEARCHSTUDENTS</servlet-name>
        <url-pattern>/SEARCHSTUDENTS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TEACHERSINFO</servlet-name>
        <url-pattern>/TEACHERSINFO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>STUDENT</servlet-name>
        <url-pattern>/STUDENT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NEWSTUDENTREGISTRATION1</servlet-name>
        <url-pattern>/NEWSTUDENTREGISTRATION1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NEWSTUDENTREGISTRATION2</servlet-name>
        <url-pattern>/NEWSTUDENTREGISTRATION2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NEWTEACHERREGISTRATION1</servlet-name>
        <url-pattern>/NEWTEACHERREGISTRATION1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NEWTEACHERREGISTRATION2</servlet-name>
        <url-pattern>/NEWTEACHERREGISTRATION2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TEACHERLOGIN</servlet-name>
        <url-pattern>/TEACHERLOGIN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CREATEATTENDANCE</servlet-name>
        <url-pattern>/CREATEATTENDANCE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ATTENDANCESUBMISSION</servlet-name>
        <url-pattern>/ATTENDANCESUBMISSION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SHOWATTENDANCE</servlet-name>
        <url-pattern>/SHOWATTENDANCE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FEE</servlet-name>
        <url-pattern>/FEE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CREATEMONTHLYFEE</servlet-name>
        <url-pattern>/CREATEMONTHLYFEE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CREATEMONTHLYFEE2</servlet-name>
        <url-pattern>/CREATEMONTHLYFEE2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FEEPAYMENT</servlet-name>
        <url-pattern>/FEEPAYMENT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PAYMENTOPTION</servlet-name>
        <url-pattern>/PAYMENTOPTION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CREATEPAYMENTMODE</servlet-name>
        <url-pattern>/CREATEPAYMENTMODE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FEEPAYMENT2</servlet-name>
        <url-pattern>/FEEPAYMENT2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FEESUBMISSION</servlet-name>
        <url-pattern>/FEESUBMISSION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PENDINGTRANSACTIONS</servlet-name>
        <url-pattern>/PENDINGTRANSACTIONS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SUCCESSTRANSACTIONS</servlet-name>
        <url-pattern>/SUCCESSTRANSACTIONS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SYLLABUSSUBMISSION</servlet-name>
        <url-pattern>/SYLLABUSSUBMISSION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SHOWSYLLABUS</servlet-name>
        <url-pattern>/SHOWSYLLABUS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SHOWSYLLABUSTEACHER</servlet-name>
        <url-pattern>/SHOWSYLLABUSTEACHER</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SHOWSYLLABUSSTUDENT</servlet-name>
        <url-pattern>/SHOWSYLLABUSSTUDENT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SYLLABUSUPDATION</servlet-name>
        <url-pattern>/SYLLABUSUPDATION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LOGIN</servlet-name>
        <url-pattern>/LOGIN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LOGOUT</servlet-name>
        <url-pattern>/LOGOUT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCHOOLCONFIGURATION</servlet-name>
        <url-pattern>/SCHOOLCONFIGURATION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PENDINGTRANSACTIONS2</servlet-name>
        <url-pattern>/PENDINGTRANSACTIONS2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CLASSTEACHERS</servlet-name>
        <url-pattern>/CLASSTEACHERS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SYLLABUS</servlet-name>
        <url-pattern>/SYLLABUS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ENTEREXAMINATIONPERFORMANCE</servlet-name>
        <url-pattern>/ENTEREXAMINATIONPERFORMANCE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SHOWNOTICE</servlet-name>
        <url-pattern>/SHOWNOTICE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SHOWFEE</servlet-name>
        <url-pattern>/SHOWFEE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GURUKULAMPAYMENTSUBMISSION</servlet-name>
        <url-pattern>/GURUKULAMPAYMENTSUBMISSION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PENDINGTRANSACTIONS3</servlet-name>
        <url-pattern>/PENDINGTRANSACTIONS3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FEEDEPOSIT</servlet-name>
        <url-pattern>/FEEDEPOSIT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SYLLABUS2</servlet-name>
        <url-pattern>/SYLLABUS2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UPDATESYLLABUS</servlet-name>
        <url-pattern>/UPDATESYLLABUS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
